mixin navbar()
  nav.navbar.navbar-expand-lg&attributes(attributes)
    ul.navbar-nav
      +navbar-item-dropdown('#', 'кондиционирование', 'menu_1')
        ul.dropdown-menu.navbar-dropdown.js-dropdown
          +navbar-lvl-1('#')(data-id = '1').js-sub-catalog Настенные
          +navbar-lvl-1('#')(data-id = '2').js-sub-catalog Мобильные
          +navbar-lvl-1('#')(data-id = '3').js-sub-catalog Кассетные
          +navbar-lvl-1('#')(data-id = '4').js-sub-catalog Канальные
          +navbar-lvl-1('#')(data-id = '5').js-sub-catalog Мульти сплит
          +navbar-lvl-1('#')(data-id = '6').js-sub-catalog VRF
          +navbar-lvl-1('#')(data-id = '7').js-sub-catalog VRV
      +navbar-item-dropdown('#', 'вентиляция', 'menu_2')
        ul.dropdown-menu.navbar-dropdown
          +navbar-lvl-1('#') Пункт-1
      +navbar-item('#', 'услуги','wheel')
      +navbar-item('#', 'оплата', 'menu_wallet')
      +navbar-item('#', 'доставка', 'menu_car')
      +navbar-item('#', 'контакты','handphone')
    block


mixin navbar-item(href,content,iconName)
  li.navbar__item
    a(href=`${href}`).navbar__link
      span(class=`icon ${iconName}`)
      span=content
      block

mixin navbar-item-dropdown(href,content,iconName)
  li.navbar__item.dropdown&attributes(attributes)
    a(href=`${href}` role="button" data-toggle="dropdown").dropdown-toggle.navbar__link
      span(class=`icon ${iconName}`)
      span=content
    block

mixin navbar-lvl-1(href)
  li.navbar-dropdown__item&attributes(attributes)
    a(href=`${href}`).navbar-dropdown__link
      block
