mixin navbar()
  nav.navbar.navbar-expand-lg&attributes(attributes)
    ul.navbar-nav
      +navbar-item-dropdown('#', 'каталог товаров', 'menu_1-1')
        ul.dropdown-menu.navbar-dropdown
          +navbar-lvl-2('#','Настенные').js-dropdown
            ul.navbar-dropdown.dropdown-menu.navbar-dropdown-sub
              +navbar-lvl-1('#','submenu-1_1')(data-id = '1').js-sub-catalog
              +navbar-lvl-1('#', 'submenu-1_2')(data-id = '2').js-sub-catalog
              +navbar-lvl-1('#', 'submenu-1_3')(data-id = '3').js-sub-catalog
          +navbar-lvl-2('#', 'Мобильные').js-dropdown
            ul.navbar-dropdown.dropdown-menu.navbar-dropdown-sub
              +navbar-lvl-1('#', 'submenu-2_1')(data-id = '4').js-sub-catalog
              +navbar-lvl-1('#', 'submenu-2_2')(data-id = '5').js-sub-catalog
              +navbar-lvl-1('#', 'submenu-2_3')(data-id = '6').js-sub-catalog
          +navbar-lvl-2('#', 'Кассетные').js-dropdown
            ul.navbar-dropdown.dropdown-menu.navbar-dropdown-sub
              +navbar-lvl-1('#', 'submenu-3_1')(data-id = '7').js-sub-catalog
          +navbar-lvl-2('#', 'Канальные').js-dropdown
            ul.navbar-dropdown.dropdown-menu.navbar-dropdown-sub
              +navbar-lvl-1('#', 'submenu-4_1')(data-id = '8').js-sub-catalog
          +navbar-lvl-2('#', 'Мульти сплит').js-dropdown
            ul.navbar-dropdown.dropdown-menu.navbar-dropdown-sub
              +navbar-lvl-1('#', 'submenu-5_1')(data-id = '9').js-sub-catalog
          +navbar-lvl-1('#', 'VRF')
          +navbar-lvl-1('#', 'VRV')
      +navbar-item-dropdown('#', 'проекты ', 'menu_2')
        ul.dropdown-menu.navbar-dropdown
          +navbar-lvl-1('#', ' Пункт-1')
      +navbar-item('#', 'услуги','wheel')
      +navbar-item('#', 'оплата', 'menu_wallet')
      +navbar-item('#', 'доставка', 'menu_car')
      +navbar-item('#', 'контакты','handphone')
    block


mixin navbar-item(href,content,iconName)
  li.navbar__item
    a(href=`${href}`).navbar__link
      span(class=`icon ${iconName}`)
      span=content
      block

mixin navbar-item-dropdown(href,content,iconName)
  li.navbar__item.dropdown&attributes(attributes)
    a(href=`${href}` role="button" data-toggle="dropdown").dropdown-toggle.navbar__link
      span(class=`icon ${iconName}`)
      span=content
    block

mixin navbar-lvl-2(href, link)
  li.navbar-dropdown__item&attributes(attributes)
    a(href=`${href}`).navbar-dropdown__link.navbar-dropdown__link_cross=link
      +cross.closed
    block

mixin navbar-lvl-1(href, link)
  li.navbar-dropdown__item&attributes(attributes)
    a(href=`${href}`).navbar-dropdown__link=link
    block
