mixin navbar()
  nav.navbar.navbar-expand-lg&attributes(attributes)
    ul.navbar-nav
      +navbar-item-dropdown('#', 'кондиционирование', 'menu_1')
        ul.dropdown-menu.navbar-dropdown
          +navbar-lvl-1('#') Настенные
          +navbar-lvl-1('#') Мобильные
          +navbar-lvl-1('#') Кассетные
          +navbar-lvl-1('#') Канальные
          +navbar-lvl-1('#') Мульти сплит
          +navbar-lvl-1('#') VRF
          +navbar-lvl-1('#') VRV
      +navbar-item-dropdown('#', 'вентиляция', 'menu_2')
        ul.dropdown-menu.navbar-dropdown
          +navbar-lvl-1('#') Пункт-1
      +navbar-item('#', 'услуги','wheel')
      +navbar-item('#', 'оплата', 'menu_wallet')
      +navbar-item('#', 'доставка', 'menu_car')
      +navbar-item('#', 'контакты','handphone')

mixin navbar-item(href,content,iconName)
  li.navbar__item
    a(href=`${href}`).navbar__link
      span(class=`icon ${iconName}`)
      span=content
      block

mixin navbar-item-dropdown(href,content,iconName)
  li.navbar__item.dropdown
    a(href=`${href}` role="button" data-toggle="dropdown").dropdown-toggle.navbar__link
      span(class=`icon ${iconName}`)
      span=content
    block

mixin navbar-lvl-1(href)
  li.navbar-dropdown__item
    a(href=`${href}`).navbar-dropdown__link
      block
